.DS_Store
.gradle/
/target/
.metadata
/build/
/documents/build/
/docker/build/
/docker/dataatlas/build/
/docker/modelatlas/build/
/release/
/build/
/local/
/cnf/cache/
/cnf/build/
/docker/build/
/documents/build/
generated/
bin/
bin_test/
